<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Pricing</title>
</head>
<body>
    <s>
        <p>Prince = {{pricewithprofit}}</p>

    </s>
    <p>Discount Price = {{a1}}</p>

<!-- 
    {% block content %}
    {% if a1 < Sprice %}
    <p>Discount Price = {{a1}}</p>
    {% else %}
    <p>Discount Price = {{Sprice}}</p>
    {% endif %}
{% endblock content %} -->
    

</body>
</html>