<!DOCTYPE html>
<html lang="en">
<!-- <link rel="stylesheet" href="style.css"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Pricing</title>
    <!-- <style>
    h2 {
    font-size: medium;
    color: red;
    }

    p {
    font-size: 10px;
    color: blue;
    }
    </style> -->
</head>
<body>
    <h2 style="color: blue;">Discount Price = {{a1}}</h2>    
    <s>
        <p style="color: red ;">Price = {{pricewithprofit}}</p>

    </s>
<!-- 
    {% block content %}
    {% if a1 < Sprice %}
    <p>Discount Price = {{a1}}</p>
    {% else %}
    <p>Discount Price = {{Sprice}}</p>
    {% endif %}
{% endblock content %} -->
    

</body>
</html>